*{
    background-color: rgb(11, 11, 11);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background:linear-gradient(red, black);
    color: white;        
}
h1{
    color: transparent;
    background-clip: text;
    background-color: white;
}

h2{
    text-align: center;
    color: white;
}

.heromarquee {
   padding: 50px 0px;
   background: url(/images/image.png) center;
}

.latestmovies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.content a img{
    transition: transform, .2s;
}

.content a log:hover{
    transform: scale(1.2);
}

